.vs/
packages/
ToDoLearning.Domain/obj/
ToDoLearning.Domain/bin/
ToDoLearning.InfraEstructure/obj/
ToDoLearning.InfraEstructure/obj/Debug/
ToDoLearning.InfraEstructure/bin/
ToDoLearning.Tests/obj/
ToDoLearning.Tests/bin/
ToDoLearning.SharedKarnel/obj/
ToDoLearning.SharedKarnel/bin/
TesteAppConsole/obj/
TesteAppConsole/bin/
TesteAppConsole/App.config
